/*screens*/
@import "screens/index.css";
@import "screens/home.css";
@import "screens/study.css";
@import "screens/study-others.css";
@import "screens/calender.css";
@import "screens/user.css";
@import "screens/notes.css";
@import "screens/magazine.css";


/*components */
@import "components/header.css";
@import "components/row-adv.css";
@import "components/nav.css";




@import "reset.css";
@import "variable.css";


body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 1200px;
    box-sizing: border-box;
    justify-content: center;
    z-index: 1;
}