.notes-others,
.notes-mine {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 1200px;
    position: relative;
}

.notes-others h1,
.notes-mine h1 {
    font-size: 30px;
    font-weight: 600;
}

.notes-others h6,
.notes-mine h6 {
    font-size: 18px;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
    margin-top: 30px;
}

.notes-mine__newnote {
    position: absolute;
    font-size: 14px;
    right: 5px;
    top: 50px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
}

.notes-others__row,
.notes-mine__row {
    display: flex;
}

.notes-others__note,
.notes-mine__note {
    display: flex;
    flex-direction: column;
    margin: 50px 20px 0px 20px;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
    width: 360px;
    justify-content: space-between;
    height: 200px;
}

.notes-others__note-name,
.notes-mine__note-name {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.notes-others__note-name h4,
.notes-mine__note-name h4 {
    font-size: 16px;
    font-weight: 600;
}

.notes-others__note-name h5,
.notes-mine__note-name h5 {
    font-size: 14px;
    font-weight: 600;
}

.notes-others__note-name span,
.notes-mine__note-name span {
    font-size: 10px;
}

.notes-mine__note-collect {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 7px;
}

.notes-others__note-subjects,
.notes-mine__note-subjects {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.start,
.notes-mine__note-start {
    font-size: 18px;
    font-weight: 600;
    color: tomato;
}

.new-note {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.2);
    border: 1px dashed rgba(0,0,0,0.2);
}

.row-end {
    margin-right: 0px;
}

/* 노트빌려쓰기 시작*/

.notes-search {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding-bottom: 20px;
    margin-top: 50px;
}

.notes-search__search {
    display: flex;
    align-items: center;
}

.notes-search input {
    width: 300px;
    height: 32px;
    border: none;
    font-size: 18px;
}

.notes-search input::placeholder {
    color: rgba(0,0,0,0.3);
}

.notes-search button {
    border: none;
    background-color: white;
    font-size: 20px;
    color: rgba(0,0,0,0.6);
}

.notes-search__filter {
    display: flex;
    align-items: center;
}

.notes-search__filter i {
    font-size: 20px;
    color: rgba(0,0,0,0.6);
}

#filter,
#filter-detail {
    font-size: 12px;
    width: 100px;
    height: auto;
    border: none;
    color: rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.notes-search__filter label {
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    margin: 0px 10px;
}

.notes-search__filter select {
    margin-right: 20px;
}

/* 검색 끝 */