.main-notes {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    z-index: 1;
}

.main-notes__analysis {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border: 3px solid var(--personal-main);
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.analysis-name {
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top:-25px;
    left: 15px;
    background-color: white;
}

.analysis-maded__summary i {
    font-size: 50px;
    color: var(--personal-main);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.main-notes__analysis-maded {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--personal-main);
    width: 80%;
    height: 150px;
    margin-top: 50px;
    position: relative;
    padding-bottom: 50px;
}

.analysis-maded__print,
.analysis-maded__print-line,
.analysis-maded__summary {
    display: flex;
    margin-right: 20px;
}

.analysis-maded__summary {
    
}

.main-notes__analysis-maded li {
    margin-right: 10px;
    margin-bottom: 8px;
}

.main-notes__analysis-maded li:last-child {
    margin-right: 00px;
    margin-bottom: 0px;
}

.analysis-maded__print {
    border: 1px solid var(--personal-sub);
    height: 100px;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.analysis-maded__advise {
    display: flex;
    position: absolute;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    bottom: 20px;
}

.analysis-maded__advise-advises {
    width: 50%;
}

.analysis-maded__advise h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.sub-title {
    font-weight: 600;
}

/* 분석 파트 끝 */

.main-notes__contents {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border: 3px solid var(--personal-main);
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.contents-name {
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top:-25px;
    left: 15px;
    background-color: white;
}

.main-notes__maded {
    display: flex;
    border: 1px solid var(--personal-main);
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin-top: 50px;
}

.notes-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 1px solid var(--personal-sub);
    margin-right: 30px;
}

.notes-name h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.notes-name i {
    font-size: 100px;
    color: var(--personal-main);
}

.notes-discription {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-discription li {
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.notes-discription li:last-child {
    margin-bottom: 0px;
}

.notes-acts {
    font-size: 25px;
    position: absolute;
    right: 10px;

}

.notes-acts i {
    margin-right: 10px;
}

.main-notes__analysis-creates,
.main-notes__create {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 60px;
    height: 60px;
    border: 5px solid var(--personal-main);
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}