.nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
    height: 150px;
    background-color: white;
    margin-top: 200px;
}

.nav__bar-image {
    width: 20%;

}
.nav__bar-company,
.nav__bar-contacts,
.nav__bar-law {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-end;
}

.nav__bar-company span,
.nav__bar-contacts span {
    font-size: 12px;
    margin: 10px 0px 0px 0px;
    color: rgba(0,0,0,0.7);
}

.nav__bar-law a{
    font-size: 15px;
    margin: 10px 0px 0px 0px;
}

.nav__bar-sns {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.nav__bar-sns a {
    margin-left: 10px;
}